@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Niconne|Roboto');

$primary-font: 'Roboto', sans-serif;
$logo-font: 'Caveat', cursive;

$accent-color: #4a70ac;
$light-gray: #999;
$very-light-gray: #efefef;
